/**
*
*   Responsive Styles
*
*   YouTube Playlist Search
*
*/
@media screen and (min-width: 680px) {
    .playlist-item {
        width: 48%;
        margin: 0 4% 3rem 0;
        float: left;
    }
    .playlist-item:nth-child(2n) {
        margin-right: 0;
    }
    .playlist-item:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (min-width: 992px) {
    .playlist-details h2 {
        padding: 0 10rem 1rem 0;
    }
    .playlist-details h2::before {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    .playlist-details-wrapper .image-wrapper,
    .playlist-details-wrapper .playlist-details {
        display: table-cell;
        vertical-align: top;
    }
    .playlist-details-wrapper .image-wrapper {
        width: 300px;
    }
    .playlist-details-wrapper .playlist-details {
        padding-left: 2rem;
        text-align: left;
    }
    .playlist-item {
        width: 31%;
        margin: 0 3.5% 3.5% 0;
        float: left;
    }
    .playlist-item:nth-child(2n) {
        margin-right: 3.5%;
    }
    .playlist-item:nth-child(2n+1) {
        clear: none;
    }
    .playlist-item:nth-child(3n) {
        margin-right: 0;
    }
    .playlist-item:nth-child(3n+1) {
        clear: left;
    }
    
}