/**
*
*   General Styles
*
*   YouTube Playlist Search
*
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
input:focus {
    outline: none
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.6rem 1rem;
    color: #fff;
    border: none;
    background-color: #666;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    background-color: #888;
}

/* Layout */
.container {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

/* Header */
.header {
    padding: 1.5rem 0;
    background-color: #399c5b;
}
.header .logo {
    font-weight: bold;
    color: #fff;
}

/* Search Form */
.search-form-wrapper {
    width: 500px;
    max-width: 100%;
    margin: 3rem auto;
    text-align: center;
}
.search-form-wrapper label {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.search-form {
    position: relative;
}
.search-form .search-field {
    display: block;
    width: 100%;
    padding: 0.5rem 5.5rem 0.5rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-form .search-field:focus {
    border-color: #399c5b;
}
.search-form .btn-search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.6rem 1rem;
    border: none;
    color: #fff;
    background-color: #399c5b;
}
.search-form .btn-search:hover {
    background-color: #55b375;
}

/* Playlist */
.playlist::after {
    content: "";
    display: block;
    clear: both;
}
.playlist-details-wrapper {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
.playlist-details-wrapper .btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
}
.playlist-details-wrapper .image-wrapper, 
.playlist-details-wrapper .playlist-details {
    display: block;
    text-align: center;
}
.playlist-details-wrapper .image-wrapper {
    width: 100%;
}
.playlist-details-wrapper .playlist-details {
    padding: 0;
}
.image-wrapper img {
    max-width: 100%;
}
.playlist-details h2 {
    position: relative;
    margin: 1rem 0;
    padding-bottom: 1rem;
}
.playlist-details h2::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #ccc;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.playlist-item {
    width: 100%;
    margin: 0 0 3rem;
}
.image-wrapper img {
    width: 300px;
    height: auto;
}
.iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.no-results {
    padding: 3rem 0;
    color: #999;
    font-size: 1.6rem;
    text-align: center;
}